body {
    background-color: rgb(252, 0, 0);
    outline-style: dotted;
    outline-color: rgb(0, 0, 0);
    height: 500px;
}

.container {
    display: flex;
}

.row {
    display: flex;
    flex: auto;
    align-self: center;
    outline-style: dotted;
    outline-color:green;
}

.col {
    display: flex;
    justify-content: space-evenly;

}

button {
    outline-style: dotted;
    outline-color: green;
    height: 50px;
    margin: 10px;
    font-style: italic;
}
p{
    color: green;
}
a{
    color: green;
    text-decoration: none;
}

#header {
    display: flex;
}

#main {
    display: flex;
   
    height: 100%;
}

#footerContainer {
    display: flex;
}

#footerRow {
    display: flex;
    text-align: center;
}

.footerCol {
    display: flex;
    justify-content: center;

}

#startBtnContainer {
    display: flex;
}

#startBtn {
    width: 100%;
}